

  .fade-in {
  	opacity: 1;
  	animation-name:fadeInOpacity;
  	animation-iteration-count: 1;
  	animation-timing-function: ease-in;
  	animation-duration: 2s;
    background-color:grey;
  }

  @keyframes fadeInOpacity {
  	0% {
  		opacity: 0;
  	}
  	100% {
  		opacity: 1;
  	}
  }
}

h1{
color:black;
}

form{
  display:flex;
  flex-direction:column;
}

.button{
background-image: url("/images/light.gif");
background-color: black;
color:white;
border:1px solid black;
border-radius: 20px;
}

#accountAddress {
  margin-top: 50px;
  border:1px solid #ad5296;
  background-color: #ad5296;
  color:white;
  border-radius: 10px;
}
